
/* Community Forum Page Styles */ 
/* Main section styles */ 

.main>.wrapper {
	display: flex;
}

main {
	width: 75%;
}

.right-sidebar {
	width: 25%;
}

.community-title{
    margin-top: 5%;
    font-size: 30px;
    margin-bottom: 1em;
}

#top-card{
    margin-top: 5%;
}

.card-title{
    font-size: 22px;
}
.card-title:hover{
    color: #E78100;
    cursor: pointer;
}

p{
    margin-top: 0.5em;
    font-family: Proxima;
	font-weight: 300;
}

.discussion p:hover{
    color: #E78100;
    cursor: pointer;
}

.more{
    color: #E78100;
    font-size: 14px;
}

.text-muted{
    font-size: 12px;
}

.more-btn{
        width: 170px;
        height: 42px;
        background: transparent;
        color: #000;
        font-size: 12px;
        font-family: Roboto;
        text-transform: uppercase;
        border: 1px solid #E78100;
        border-radius: 5px;
        outline: none;
        text-align: center;
        margin-left: 50%;
        margin-top: 5%;
        display: block;
        box-shadow: 0px 5px 7px rgba(0,0,0,0.3);
}

/*Aside styles*/
/*Login styles*/
#login-form{
    margin-top: 7em;
    width: 80%;
    margin-left: 2em;
}
#login-btn{
    background: #E78100;
    color: #fff;
}

.login-title{
    margin-bottom: 2em;
    font-size: 20px;
}

label{
    margin-bottom: 0.7em;
}

/*About section*/
#about-card{
    width: 80%;
    margin-left: 2em;
    margin-top: 5em;
}

.about-body{
    padding-bottom: 6em;
}

.about-logo{
    width: 70%;
}

.about-title{
    font-size: 20px;
    margin-bottom: 2em;
}

#here{
    color: #E78100;
}

