
/* Gallery Page Styles */ 
/* Main Section Styles */ 
.carousel{
    margin-bottom: 3em;
}

.carousel-inner{
    height: 400px;
    object-position: center;
    border-radius: 10px;
}


.gallery-heading{
    font-size: 30px;
    margin-bottom: 1em;
}


.main>.wrapper {
    display: flex;
    justify-content: space-evenly;
}

main {
    width: 100%;
    margin-top: 2em;
}

.card{
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 1.5em;
}

.card>img{
	max-height: 255px;
}


